---
services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - ~/apps/qbittorrent/appdata:/config
      - /media/rpi/rpistorage/downloads:/downloads
      - /media/rpi/rpistorage/plex/movies:/movies
      - /media/rpi/rpistorage/plex/tvshows:/tvshows
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
