---
services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - VERSION=docker
      - PLEX_CLAIM= #optional
    volumes:
      - ~/apps/plex/library:/config
      - /media/rpi/rpistorage/plex/movies:/movies
      - /media/rpi/rpistorage/plex/tvshows:/tv
    restart: unless-stopped
