http://pihole.rpi {
    reverse_proxy 192.168.0.9:80
}

http://qbittorrent.rpi {
    reverse_proxy 192.168.0.20:8080
}

http://plex.rpi {
    reverse_proxy 192.168.0.20:32400
}

http://homepage.rpi {
    reverse_proxy 192.168.0.20:3000
}

http://wireguard.rpi {
    reverse_proxy 192.168.0.20:51821
}

http://portainer.rpi {
    reverse_proxy 192.168.0.20:9000
}