{
    local_certs
}

https://pihole.rpi {
    reverse_proxy 192.168.0.9:80
}

https://qbittorrent.rpi {
    reverse_proxy 192.168.0.20:8080
}

https://plex.rpi {
    reverse_proxy 192.168.0.20:32400
}

https://homepage.rpi {
    reverse_proxy 192.168.0.20:3000
}

https://wireguard.rpi {
    reverse_proxy 192.168.0.20:51821
}

https://portainer.rpi {
    reverse_proxy 192.168.0.20:9000
}